{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <link rel="pingback" href=""/> -->

  <title>{% block title %}Covidnames{% endblock %}</title>
  {% block description_tag %}<meta
        name="description" content="The sickest new game in 2019."
  />{% endblock %}

  <!-- style and script resources -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  {% block header_scripts %}{% endblock %}

  {#    <!--complete list of meta tags at - https://gist.github.com/lancejpollard/1978404 -->#}
</head>

<body>
{% block body %}{% endblock %}

{% block footer_scripts %}{% endblock %}
</body>
</html>